body {
  width: 80%;
  margin: auto;
  font-family: sans-serif;
}

h1 {
  border-bottom: 2px solid black;
  width: 50%;
  padding: 5px;
}

li {
  list-style-type: none;
}

li a {
  text-decoration: none;
}

li a:hover {
  color: lightblue;
  cursor: pointer;
}
